header, .buttons, #bouttons-injections, #btn-modal-qrcode{
    display: none;
}

*{
    color: rgba(0,0,0,0.87);
}

main > .s9 {
    width:100% !important;
}

.gros{
    font-size: 55px !important ;
    font-weight: bold;
}

.values2{
    font-size: 45px !important;
}

.adreAC{
    min-width: 330px !important;
}