<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Easy Pedia</title>

    <link href="images/logo.png" rel="icon" type="image/png"/>

    <!-- Compiled and minified CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script src="js/injection.js"></script>
</head>
<body>
<nav>
    <div class="nav-wrapper">
        <a class="brand-logo" href="#!">EasyPedia Mobile</a>
        <a class="sidenav-trigger" data-target="mobile-demo" href="#"><i class="material-icons">menu</i></a>
        <ul class="sidenav" id="mobile-demo">
            <li>😘</li>
        </ul>
    </div>
</nav>

<div class="container" id="constantes">
    <ul class="collection with-header">
        <li class="collection-header"><h4>Constantes</h4></li>
        <li class="collection-item">Fréquence Cardiaque [<span th:text="${results.frequenceCardiaqueBas}"></span>, <span
                th:text="${results.frequenceCardiaqueHaut}"></span>]
        </li>
        <li class="collection-item">Remplissage <span th:text="${results.remplissage}"></span></li>
        <li class="collection-item">TAS <span th:text="${results.TAS}"></span></li>
        <li class="collection-item">Fréquence Respiratoire [<span th:text="${results.frequenceRespiratoireBas}"></span>,
            <span th:text="${results.frequenceRespiratoireHaut}"></span>]
        </li>
        <li class="collection-item">TAM <span th:text="${results.TAM}"></span></li>
        <li class="collection-item">Remplissage <span th:text="${results.remplissage}"></span> ml</li>
        <li class="collection-item">Adrénaline <span th:text="${results.adrenaline}"></span> ml</li>

        <li class="collection-item">Taille SIT <span th:text="${results.taille2}"></span></li>

        <li class="collection-item">Repère SIT <span th:text="${results.repereSIT}"></span></li>
        <li class="collection-item">Force réa <span
                th:text="${#numbers.formatDecimal(results.forceReaDobutamine, 0, 'POINT', 2, 'POINT')}"></span> ml/H
        </li>
    </ul>
</div>

<div class="container" id="injections">
    <ul class="collection with-header">
        <li class="collection-header"><h4>Actions</h4></li>
        <li class="collection-item" th:each="injection: ${injections}"><span class="date"
                                                                             th:text="${injection.date}"></span> ->
            <span th:text="${injection.type}"></span></li>
    </ul>
</div>


<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            <h6 class="center-align">EasyPedia est un projet étudiant fait avec le ❤️ et open source,
                <a class="grey-text text-lighten-4" href="https://gitlab.com/BrunoFL/easypedia">c'est par ici</a> !
            </h6>
        </div>
    </div>
</footer>
</body>

<script>
var elems = document.querySelectorAll('.sidenav');
var side = M.Sidenav.init(elems);

elems = document.querySelectorAll('.date');
for(var i = 0; i < elems.length; i++){
    var date = parseInt(elems[i].innerHTML);
    date = (new Date(date)).toLocaleString();
    elems[i].innerHTML = date;
}


</script>


</html>